:root
{
    font-family: a;
    --primary-color: #11b4ff;
    --secondary-color: #ff5811;
    --primary-color-dark: #1495d1;
    --secondary-color-dark: #cc4202;
    --dark: #000;
    --light: #fff;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
html
{
    color: var(--light);
    background: var(--dark);
    width: 100%;
    min-width: 500px;
}
body
{
    width: 100%;
    margin: 0;
    padding: 0;
}
h1
{
    margin: 0 0 0 1.8em;
    font-size: 2em;
    color: var(--primary-color);
}
h2
{
    margin: 0 0 0.5em 3em;
    font-size: 1.2em;
}
a
{
    color: var(--light);
    text-decoration: none;
}
img
{
    width:100%;
}
table
{
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
}
td, th
{
    text-align: left;
    font-size: 1.2em;
    margin: 0;
    padding: 0.2em;
    border: 0.1em solid var(--secondary-color);
}
caption
{
    font-size: 1em;
    font-weight: bold;
    margin:0;
    padding: 0.2em;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--dark);
    background-color: var(--primary-color);
    filter: drop-shadow(0 0.2em 0.2em var(--secondary-color));
}
li
{
    background-color: var(--primary-color);
    float: left;
}
li a
{
    display: block;
    text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
}
li a:hover:not(.active)
{
    color: var(--dark);
    background-color: var(--primary-color-dark);
}
progress
{
    background-color: var(--primary-color);
}
.active
{
    background-color: var(--secondary-color);
}
#menu-bar
{
    position: fixed;
    top:0;
    width: 100%;
    min-width: 500px;
}
.right
{
    float: right;
}
#content
{
    height: calc(100% - 6.5em);
    width: calc(100% - 1em);
    margin: 2em auto 0 auto;
}
.section
{
    margin: 1em 0;
    border-bottom: solid 2px var(--primary-color);
}
#personal-data
{
    width: 100%;
}
.table01 tr td:first-child
{
    width: 2em;
    text-align: center;
    border: none;
}
.table01 tr td:nth-child(2)
{
    width: 6em;
}
.table02 th
{
    color: var(--primary-color);
}
.table02 tr td:last-child
{
    width: 5em;
}
.legend tr td:first-child
{
    width: 2em;
    text-align: center;
}
.legend tr td:last-child
{
    width: 5em;
}
#image
{
    top:0;
    width: 20%;
}
#footer
{
    color: var(--light);
    font-size: 0.8em;
    padding: 0.5em;
    filter: drop-shadow(0 0 0.4em var(--secondary-color));
}
#footer div
{
    display: inline;
}