:root
{
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    --primary-color: #11b4ff;
    --secondary-color: #ff5811;
    --primary-color-dark: #1495d1;
    --secondary-color-dark: #cc4202;
    --dark: #000;
    --light: #fff;
    --column-char: 20px;
    --column-name: 100px;
    --column-bar: 80px;
    --padding-small: 2px;
    --padding-medium: 5px;
    --padding-large: 10px;
    --padding-xl: 20px;
    --margin-small: 0.2em;
    --margin-medium: 1em;
    --margin-large: 2em;
    --font-size-tiny: 0.8em;
    --font-size-medium: 1.5em;
    --font-size-large: 2em;
    --border-thickness-thin: 1px;
    --border-thickness-medium: 2px;
    --border-thickness-thick: 4px;
}
html
{
    color: var(--light);
    background: var(--dark);
    width: 100%;
    height: 100%;
    min-width: 500px;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav
{
    display: block;
    width: 100%;
    background-color: var(--primary-color);
}
nav a
{
    padding: var(--padding-large);
    font-size: var(--font-size-medium);
    float: left;
}
nav a:hover
{
    background-color: var(--primary-color-dark);
}
.active
{
    background-color: var(--secondary-color);
}
.active:hover
{
    background-color: var(--secondary-color-dark);
}
#content
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.section
{
    margin-bottom: var(--margin-medium);
}
h1, h2
{
    margin: 0;
    padding: var(--padding-medium);
    width: calc(100% - (2*var(--padding-medium)));
}
h1
{
    font-size: var(--font-size-large);
    background-color: var(--primary-color-dark);
}
h2
{
    font-size: inherit;
    background-color: var(--secondary-color);
}
a
{
    color: var(--light);
    text-decoration: none;
}
img
{
    width:100%;
    margin: auto;
}
table
{
    width: 100%;
    margin: 0 0 var(--margin-medium) 0;
    border-collapse: collapse;
}
td, th
{
    margin: 0;
    padding: var(--padding-small);
    border: var(--border-thickness-thin) solid var(--secondary-color);
}
progress
{
    background-color: var(--primary-color);
}
#personal-data
{
    width: 100%;
}
.table01 tr td:first-child
{
    width: var(--column-char);
    text-align: center;
    border: none;
}
.table01 tr td:nth-child(2)
{
    width: var(--column-name);
}
.legend tr td:first-child
{
    width: var(--column-char);
    text-align: center;
}
.legend tr td:last-child
{
    width: var(--column-name);
}
.table02 th
{
    color: var(--primary-color);
}
.table02 td:first-child
{
    width: calc(var(--column-name) + var(--column-char));
}
.table02 tr td:nth-child(3)
{
    text-align: center;
    width: var(--column-char);
}
.table02 tr td:last-child
{
    width: var(--column-name);
}
#image
{
    width: calc(var(--column-name)*1.2);
}
#footer
{
    color: var(--light);
    font-size: var(--font-size-tiny);
    padding: var(--padding-small);
}
#footer div
{
    display: inline;
}